<div>
    <%= 'hi mom' %>
    <div class="test class">
        <section style='color: blue'>
            <% _.each(all, function(it){ %>
                <%= it %>
            <% }); %>
        </section>
    </div>
</div>